<!DOCTYPE HTML> 
<body>
<div class="container">
 <div>
   <p name="id" id="id" style="display:none" th:text="${id}"></p>
  <p name="name" id="name" style="display:none" th:text="${name}"></p>
  <p name="login" id="login" style="display:none" value=0></p>
 <table>
 <thead>
 <tr>
  <th>ID</th>
  <th>비밀번호</th>
  <th>이름</th>
  <th>등급</th>
  </tr>
  </thead>
  <tbody>
      %MEMBER_ROWS%
  </tbody>
  </table>
  <h1>
    <a href="/home">홈으로</a>
    </h1>
  </div>
 </div> <!-- /container -->
 </body>
 </html>